html, body {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  background: #002b36;
  /*color: #eee8d5;*/
  color: #839496;
}

* {
  box-sizing: border-box;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.container {
  max-width: 500px;
  margin-left: 50px;
  margin-right: 50px;
}

.header {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 42px;
}

.header .name {
  font-weight: bold;
}

.main-content {
  margin: auto;
  text-align: justify;
}
