html, body {
  color: #333;
  background: #ecf0f1;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #e74c3c;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.container {
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 970px;

  background: white;
  padding: 25px;
}


.header {
  overflow: hidden;
  padding: 25px 25px;
}

.profile-pic {
  float: left;
  margin-right: 40px;
}

.profile-pic img {
  border-radius: 50%;
  border: solid 1px #333;
}

.title {
  float: left;
}

.title h1 {
  font-size: 65px;
  margin: 0px;
}

.title .subtitle {
  color: #7f8c8d;
  font-size: 32px;
}

.social {
  margin-top: 40px;
}

.social li {
  margin-right: 20px;
  display: inline-block;
}

.social li .fa {
  margin-right: 2px;
}

.main-content {
  padding-top: 80px;
}

.section {
  margin-bottom: 90px;
}

.subheader {
  overflow: hidden;
  text-align: left;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: dotted 1px #ccc;
}

.subheader h2 {
  margin: 0 0 0 10px;
  float: left;
}

.subheader .fa {
  float: left;
}


.items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inline-items li {
  display: inline-block;
  padding: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #ecf0f1;
  border-radius: 10px;
  border: solid 1px #bdc3c7;
}


.inline-items li a {
  color: white;
  text-decoration: none;
}


.items .item-title {
  font-size: 18px;
  font-weight: bold;
}


.items .item-description {
  padding: 10px 0px;
}

.hero {
  border-top: solid 2px #333;
  padding-top: 35px;
  text-align: right;
}

.hero-item {
  margin-bottom: 15px;
}

.hero-item .fa, .hero-item a {
  display: inline-block;
}


.hero-item .fa {
  margin-right: 10px;
}
